:root {
  --main-text-color: rgb(83, 83, 83);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-column: span 2;
}

.bill-from {
  grid-column-start: 1;
  grid-column-end: 2;
}

.bill-to {
  grid-column-start: 2;
  grid-column-end: 3;
}

.job-info {
  grid-column: span 2;
}

.details {
  outline: 1px solid red;
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.styleless-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.hours-input-wrapper input {
  display: block;
}

.days-and-hours-wrapper input {
  display: block;
}

.job-info-wrapper input {
  display: block;
}